@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #22405C;
  --secondary-color: #3B82F6; /* Blue color for text */
  --border-color: #000000;
  --text-color-light: #FFFFFF;
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border-color: var(--border-color);
}

.text-light {
  color: var(--text-color-light);
}

.text-secondary {
  color: var(--secondary-color);
}
