@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #22405C;
  --secondary-color: #3B82F6; /* Blue color for text */
  --border-color: #000000;
  --text-color-light: #FFFFFF;
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border-color: var(--border-color);
}

.text-light {
  color: var(--text-color-light);
}

.text-secondary {
  color: var(--secondary-color);
}

.rounded-full {
  border-radius: 50%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-base {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-300 {
  border-color: #d1d5db;
}

.w-32 {
  width: 8rem;
  height: 8rem;
}
