@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #22405C;
  --secondary-color: #3B82F6;
  --border-color: #000000;
  --text-color-light: #FFFFFF;
}

/* Couleurs */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.border-primary {
  border-color: var(--border-color) !important;
}

.text-light {
  color: var(--text-color-light) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

/* Bordures */
.rounded-full {
  border-radius: 50%;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-300 {
  border-color: #d1d5db;
}

/* Marges */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

/* Tailles de texte */
.text-lg {
  font-size: 1.125rem;
}

.text-base {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

/* Dimensions de la page A4 */
.print-container {
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: auto;
}

/* Réduction des marges internes */
.print-container .p-2 {
  padding: 0.5rem;
}

/* Réduction de l'espace entre l'en-tête et la section Expérience */
.print-container .header {
  margin-bottom: 0.5rem;
}

.print-container .experience {
  margin-top: 0.5rem;
}

/* Configuration d'impression */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  .full-height {
    height: 100%;
  }
  body {
    margin: 0;
  }

  .print-container {
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .page-break {
    page-break-before: always;
  }

  .print-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .bg-primary {
    background-color: var(--primary-color) !important;
  }

  .border-primary {
    border-color: var(--border-color) !important;
  }

  .text-light {
    color: var(--text-color-light) !important;
  }

  .text-secondary {
    color: var(--secondary-color) !important;
  }

  .rounded-full {
    border-radius: 50% !important;
  }

  .border-t {
    border-top-width: 1px !important;
  }

  .border-gray-300 {
    border-color: #d1d5db !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .m-0 {
    margin: 0 !important;
  }
}
